.container {
  display: grid;
  grid-template-areas: "name temp pressure humidity map";
  grid-gap: 5px;
  border-bottom: 1px solid;
  
  .name {
    grid-area: name;
  }
  .temp {
    grid-area: temp;
  }
  .pressure {
    grid-area: pressure;
  }
  .humidity {
    grid-area: humidity;
  }
  .map {
    grid-area: map;
  }
}
